<h1>Editing Medicine</h1>

<%= render 'form', medicine: @medicine %>

<%= link_to 'Show', @medicine, class: 'pure-button  pure-button-primary'  %> |
<%= link_to 'Back', medicines_path, class: 'pure-button  button-secondary'  %>
