<h1>Editing Prescription</h1>

<%= render 'form', prescription: @prescription %>

<%= link_to 'Show', @prescription, class: 'pure-button  pure-button-primary'  %> |
<%= link_to 'Back', prescriptions_path, class: 'pure-button  button-secondary'  %>
