<h1>Editing User Vital Log</h1>

<%= render 'form', user_vital_log: @user_vital_log %>

<%= link_to 'Show', @user_vital_log, class: 'pure-button  pure-button-primary'  %> |
<%= link_to 'Back', user_vital_logs_path, class: 'pure-button  button-secondary'  %>
