<h1>Editing User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Show', @user, class: 'pure-button  pure-button-primary'  %> |
<%= link_to 'Back', users_path, class: 'pure-button  button-secondary'  %>
