<h1>Editing Prescribed Medicine</h1>

<%= render 'form', prescribed_medicine: @prescribed_medicine %>

<%= link_to 'Show', @prescribed_medicine, class: 'pure-button  pure-button-primary'  %> |
<%= link_to 'Back', prescribed_medicines_path, class: 'pure-button  button-secondary'  %>
