<h1>Editing Doctor</h1>

<%= render 'form', doctor: @doctor %>

<%= link_to 'Show', @doctor, class: 'pure-button  pure-button-primary'  %> |
<%= link_to 'Back', doctors_path, class: 'pure-button  button-secondary'  %>
