<h1>Editing In Patient</h1>

<%= render 'form', in_patient: @in_patient %>

<%= link_to 'Show', @in_patient, class: 'pure-button  pure-button-primary'  %> |
<%= link_to 'Back', in_patients_path, class: 'pure-button  button-secondary'  %>
