<h1>Editing Doctor Appointment</h1>

<%= render 'form', doctor_appointment: @doctor_appointment %>

<%= link_to 'Show', @doctor_appointment , class: 'pure-button  pure-button-primary' %> |
<%= link_to 'Back', doctor_appointments_path, class: 'pure-button  button-secondary'  %>
